<div class="navbar">
  <a href="/">Logo</a>
  <a href="/find-pet">find pet</a>
  <a href="/find-shelter">find shelter</a>
  <a href="/FAQ">about adoption</a>
  <a href="/welcome">sign up/log in</a>
</div>
