<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <section class="main">
      <div class="my pets">
        <h1>Create new pet page</h1>
        <p>Tools to create a pet</p>
        <form>
          <label for="type">Type</label>
          <input type="text" id="type" required /><br />
          <label for="name">Pet name</label>
          <input type="text" id="name" required /><br />
          <label for="gender">Whatever else</label>
          <input type="text" id="gender" required /><br />
          <textarea id="body"></textarea>
          <button>Submit</button>
        </form>
      </div>
    </section>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
