<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <section class="main">
      <div class="visitor">
        <h1>Welcome!</h1>
        <p>Content for NOT REGISTERED user.</p>
      </div>
    </section>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
