<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="form">
      <h2>
        You get a modal to chose of you are shelter or person when clicked on
        login\signup.
      </h2>
      <a href="/my-pets">My pets</a>
      <p>here you ave profile editing and favorite/posted animals</p>
    </div>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
