<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Find shelter</h1>
    <h2>search menu</h2>
    <p>There goes lost of shelters - name, province, animals.</p>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
