<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Find Pet</h1>
    <h2>search menu</h2>
    <p>There goes cards with ANIMALS.</p>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
